body{
    scrollbar-arrow-color:#F2B30D; 
    scrollbar-track-color:#FFFFCC; 
    scrollbar-shadow-color:#FFFFFF; 
    scrollbar-face-color:#FFFFCC; 
    scrollbar-darkshadow-color:#F2B30D; 
    scrollbar-3dlight-color:#F2B30D;
}
    